
nohup.out
.ipynb_checkpoints/
Lotka-Volterra/noise_data/*.csv
Lotka-Volterra/noise_data*.pdf
Logistic/noise_data*.pdf
Logistic/noise_data/*.pkl
Lotka-Volterra/noise_data_ode/*
Lotka-Volterra/results/*
strogatz/models/*
strogatz/outputs/*
*svg
*pdf
